.add-del-work-btns-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.add-del-work-btn{
    width: 180px;
    border: 1.2px solid rgba(0, 80, 185, 0.829);
    border-radius: 5px;
    user-select: none;
}

.add-del-work-btn:hover{
    background-color: rgba(0, 80, 185, 0.829);
    color: white;
}