.work-card-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.work-name-location{
    display: flex;
    justify-content: space-between;
}

.work-dates{
    display: flex;
    font-style: italic;
}

.work-company-title-location{
    font-size: 16px;
}

.work-role{
    font-style: italic;
    font-weight: bold;
}