body, html{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #222;
  align-items: center;
  justify-content: center;
  width: 80vw;
  margin: auto;
}

footer{
  display: flex;
  align-items: center;
  gap: 8px;
}

a{
  text-decoration: none;
  color: #fff;
}

a:hover{
  text-decoration: underline;
}

.github-icon{
  height: 24px;
  width: 24px;
  transition: .4s ease-in-out;
}

.github-icon:hover{
  transform: scale(120%);
  transform: rotate(180deg);
}

.main-container{
  display: flex;
  gap: 8px;
}

.App{
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
  background-color: white;
  padding: 8px;
  margin-top: 8px;
  border-radius: 12px;
  
}

.logo-app{
  height: 80px;
  width: 80px;
  margin-top: 10px;
}

.instrucctions-para{
  display: flex;
  text-align:left;
  margin-left: 8px;
  margin-right: 8px;
}

.pdf-print-btn-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 8px;
  margin-bottom: 18px;
}

.print-pdf-btns{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 42px;
  width: 42px;

}

.print-pdf-btns:hover{
  cursor: pointer;
}

.main-cv{
  width: 920px;
}

.info-btns-app{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 300px;
  background-color: rgb(153, 153, 153);
  border-radius: 12px;
}

h3{
  margin: 0;
  padding: 0;
}

footer{
  padding-top: 18px;
  color: #fff;
  font-size: 18px;
}